*                               { margin: 0; padding: 0; }
body                            { background: #EEEEEE; }
h2                              { margin: 0 0 10px 0; }
#page-wrap                      { width: 500px; margin: 30px auto; position: relative; }

#chat-area                      { height: 300px; overflow: auto; border: 1px solid #AAA; padding: 20px; background: white; }
#chat-area p                    { padding: 8px 0; border-bottom: 1px solid #ccc; }

#send-message-form p            { float: left; padding-top: 27px; font-size: 14px; }
#send-message-box                         { border: 1px solid #AAA; width: 360px; padding: 10px; float: right; }