body
{
	width: 900px;
}

textarea
{
	resize: none;
	height: 70px;
}

.clear_left
{
	clear: left;
}

.outer_frame
{
	margin: 0 0 2px 0;
	clear: left;
}

.inner_frame
{
	margin: 0 2px 0 0;
}

.inner_frame div
{
	border: 1px grey solid;
	padding: 5px;
	overflow: hidden;
}

#notes
{
	width: 298px;
	float: left;
}

#map
{
	width: 298px;
	float: left;
}

#photos
{
	width: 298px;
	float: left;
}